body,
html {
  height: 100%; }

.success {
  color: #269442;
  font-size: 12pt;
  background-color: #fff;
  font-weight: 600; }

.error, .error_input {
  color: #da1515;
  font-size: 12pt;
  background-color: #fff;
  font-weight: 600; }

.padding-top-3rem {
  padding-top: 3rem; }

.standardborder {
  border: 1px solid #020202; }

.vertical-center {
  margin-bottom: 0;
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.log_body {
  background-size: cover;
  background-image: url("https://img.wallpapersafari.com/desktop/1600/900/39/18/LDKrY3.jpg"); }

.myformbord {
  border-radius: 12pt;
  font-size: 15pt;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 3px 2px 7px #5e0961; }
  .myformbord .note {
    font-size: 12pt;
    display: none;
    list-style-type: disc;
    margin: 0 10px 15px;
    padding: 8px 35px;
    background-color: #EED3D7;
    border: 2px solid #EED3D7;
    border-radius: 4px; }
  .myformbord .log_btn {
    color: #ffffff;
    background-color: #5e0961;
    font-size: 21pt; }
    .myformbord .log_btn:hover {
      opacity: 0.7; }

.black {
  color: #000000; }

.no-account {
  text-align: center;
  margin: -50px auto 10px; }

.log_color {
  color: #5e0961; }

.sign_body {
  background: sign_bg_color; }
  .sign_body .sign_color {
    color: #9e0b61; }
  .sign_body .custom_container {
    border-radius: 10px;
    font-size: 15pt;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 3px 2px 7px #9e0b61, -3px 2px 7px #9e0b61; }

.sign_btn {
  color: #ffffff;
  font-weight: 600;
  background-color: #9e0b61;
  margin-top: 10pt; }
  .sign_btn:hover {
    opacity: 0.7; }

.error_input {
  visibility: hidden; }

.line {
  border: 1px solid #9e0b61; }

.profile_body {
  background-color: #596e79; }
  .profile_body .my_card {
    border: 40px solid #c7b198;
    /* margin-top: 30pt; */
    color: #596e79;
    background-color: #f0ece3;
    box-shadow: 0 0 20px #000000; }
    .profile_body .my_card .edit_btn1 {
      color: #ffffff;
      font-size: 15pt;
      background-color: #596e79;
      margin-top: 10pt; }
      .profile_body .my_card .edit_btn1:hover {
        opacity: 0.7; }
    .profile_body .my_card .tittle,
    .profile_body .my_card .change_password_note {
      color: #269442;
      font-size: 12pt;
      background-color: #fff;
      font-weight: 600; }
    .profile_body .my_card .change_password_error {
      color: #da1515;
      font-size: 12pt;
      background-color: #fff;
      font-weight: 600; }
