.log_body {
    background-size: cover;
    background-image: url("https://img.wallpapersafari.com/desktop/1600/900/39/18/LDKrY3.jpg");
}

.myformbord {
    border-radius: $message_font_size;
    font-size: $font_size;
    font-weight: $font_weight;
    background-color: $main_background_color;
    box-shadow: 3px 2px 7px $log_main_color, ;
    .note {
        font-size: $messeges_size;
        display: none;
        list-style-type: disc;
        margin: 0 10px 15px;
        padding: 8px 35px;
        background-color: $error_bg;
        border: 2px solid $error_bg;
        border-radius: 4px;
    }
    .log_btn {
        color: $white;
        background-color: $log_main_color;
        font-size: $font_size + 6;
        &:hover {
            opacity: 0.7;
        }
    }
}

.black {
    color: $balck;
}

.no-account {
    text-align: center;
    margin: -50px auto 10px;
}

.log_color {
    color: $log_main_color;
}