$message_font_size:12pt;
$font_weight:600;
$font_size:15pt;
$sign_main_color:#2e9254;
$log_main_color:#5e0961;
$profile_outside_color: #20254b;
$profile_middle_color: #8d765c;
$profle_inside_color:#f5e4be