$message_font_size:12pt;
$font_weight:600;
$font_size:15pt;
$messeges_size:12pt;
$sign_main_color:#9e0b61;
$sign_bg_color:#6d696b;
$log_main_color:#5e0961;
$profile_outside_color: #596e79;
$profile_middle_color: #c7b198;
$profle_inside_color :#f0ece3;
$main_background_color:#fff;
$sucess_color:#269442;
$error_color:#da1515;
$error_bg: #EED3D7;
$balck:#000000;
$white:#ffffff;